@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
body{
    background: #201E2B url(images/bg-stars.svg) no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
    font-family: "Orbitron", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
header h3{
    letter-spacing: 10px;
    font-size: 14px;
}
.countdown{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 200px;
    perspective: 1000px;
    height: 300px;
}

.front-flip{
    width: 80px;
    background: #34364F;
    height: 35px;
    box-shadow: inset 0 2px 2px 0 #201E2B;
    transform: perspective(1000px);
    border: 1px solid #201E2B;
    border-radius: 8px 8px 6px 6px;
}
.back-flip{
    width: 80px;
    border-radius: 8px;
    background: #34364F;
    height: 35px;
    border: 1px solid #201E2B;
    transform: perspective(1000px);
    border-radius: 6px 6px 8px 8px;
    animation: flip 1s infinite ease-in-out forwards;
    box-shadow: inset 0 2px 2px 0 #201E2B;
}
.days h2{
    text-align: center;
    font-size: 38px;
    position: absolute;
    top: 70px;
    left: -86px;
    letter-spacing: 2px;
    z-index: 1;
    font-weight: 800;
    color: #C44C68;
}
.secs h2{
    text-align: center;
    font-size: 38px;
    position: absolute;
    top: 70px;
    left: 220px;
    letter-spacing: 2px;
    z-index: 1;
    font-weight: 800;
    color: #C44C68;
}
.hours h2{
    text-align: center;
    font-size: 38px;
    position: absolute;
    top: 70px;
    left: 20px;
    font-weight: 800;
    z-index: 1;
    letter-spacing: 2px;
    color: #C44C68;
}
.secs .back-flip{
    transform: perspective(1000px);
    animation: flip 1s infinite ease-in-out forwards;
}
.mins h2{
    text-align: center;
    font-size: 38px;
    position: absolute;
    top: 70px;
    letter-spacing: 2px;

    left: 115px;
    font-weight: 800;
    z-index: 1;
    color: #C44C68;
}
.flip p{
    text-align: center;
    color: #8482A5;
    font-weight: 600;
}
footer{
    background: url(images/pattern-hills.svg) no-repeat;
    width: 100%;
    height: 400px;
    position: absolute;
    top: 80%;
    display: flex;
    justify-content: center;

}
footer img{
    width: 25px;
    height: 25px;
    margin-left: 30px;
    margin-top: 100px;
}
@keyframes flip{
    0%{
        transform: perspective(200px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(200) rotateX(0deg) rotateY(0deg);
    }
    100%{
        transform: perspective(200px) rotateX(180deg) rotateY(0deg);
        -webkit-transform: perspective(200px) rotateX(180deg) rotateY(0deg);
    }
}
@media(max-width: 600px){
    body{
        overflow-x: hidden;
    }
    header h3{
        font-size: 20px;
        width: 80%;
        margin-left: 38px;
        text-align: center;
    }
    .countdown{
        width: 195px;
    }
    .flip h2{
        font-size: 40px;
    }
    .flip p{
        font-size: 12px;
    }
}